.bannerContainer {
  width: 100%;
  background-image: url('/assets/images/curveLine.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  display: flex;
  justify-content: right;
}
.bannerWrapper {
  width: 100%;
  max-width: 100%;
  height: 52em;
}
.bannerContent {
  display: flex;
}
.bannerContentLeftParent {
  width: 50%;
  justify-content: end;
  display: flex;
}
.bannerContentLeft {
  width: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bannerContentLeftHeading {
  margin-top: 4em;
}
.bannerContentLeftHeading h1 {
  font-size: 52px;
  font-weight: 700;
  font-family: 'Gilroy';
  letter-spacing: 1px;
}
.bannerContentLeftHeading p {
  font-size: 16px;
  color: #a2a2a2;
  font-family: 'Poppins';
  margin-top: 1em;
}
.bannerContentLeftButton {
  width: 40%;
  margin-top: 1em;
}
.bannerContentRight {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerContentRightImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/colada.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .bannerWrapper {
    height: 42em;
  }
  .bannerContent {
    margin: 0 1em;
    justify-content: space-between;
  }
  .bannerContentLeftParent {
    width: 50%;
    justify-content: left;
    display: flex;
  }
  .bannerContentLeft {
    width: 30em;
  }
  .bannerContentRight {
    width: 43em;
  }
  .bannerContentRightImage img{
    width: 43em;
  }
}
@media screen and (max-width: 1100px) {
  .bannerContent {
    margin-top: 3em;
  }
  .bannerContentLeftHeading h1 {
    font-size: 2.5em;
  }
  .bannerContentLeftParent {
    width: 25em;
  }
  .bannerContentLeftButton {
    width: 12em !important;
  }
  .bannerContentRight {
    width: 36em;
  }
  .bannerContentRightImage img{
    width: 36em;
  }
}
@media screen and (max-width: 930px) {
  .bannerContentLeftParent {
    width: 20em;
  }
  .bannerContentRight {
    width: 30em;
  }
  .bannerContentRightImage img{
    width: 30em;
  }
}

@media screen and (max-width: 768px) {
  .bannerWrapper {
    height: 17em;
  }
  .bannerContentRight {
    display: none;
  }
  .bannerContentLeftParent {
    width: 100% !important;
  }
  .bannerContentLeftHeading {
    margin-top: 0em;
    text-align: center;
  }
  .bannerContentLeft {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .bannerContentLeftHeading h1 {
    font-size: 1.5em !important;
  }
  .bannerContentLeftHeading p {
    font-size: 14px;
  }
  .bannerContentLeftButton {
    width: 11em !important;
  }
}
