.verticalStepperSteps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stepperButton {
  width: 155px;
  margin-top: -3em;
}
@media screen and (max-width: 1180px) {
  .stepperButton {
    width: 145px;
  }
}
@media screen and (max-width: 375px) {
  .stepperButton {
    width: 145px;
  }
}
