.bookingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8em;
}
.bookingWrapper {
  width: 100%;
  max-width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.bookingButton {
  margin-top: 6em;
  width: 200px;
  align-self: flex-end;
  display: flex;
}
.bookingButtons{
 display: flex;
 justify-content: space-between;
}
.bookingButtonLeft{
 width: 200px;
}
.bookingButtonRight{
 width: 300px;
}
