.blogsContainer {
  width: 100%;
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backgroundimage {
  background-image: url('/assets/images/blogCover.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.blogsWrapper {
  width: 100%;
  max-width: 71em;
  margin: 0 1em;
}
.blogsContent {
  margin-top: 10em;
}
.blogsContent h1 {
  color: #fff;
  font-size: 52px;
  font-family: 'Gilroy';
}
.blogsContent h3 {
  margin-top: 1em;
  font-size: 20px;
  font-family: 'Poppins';
}
.blogsContent h3 a {
  text-decoration: none;
  color: #fff;
}
.blogsContent h3 span a {
  color: #000;
}

/* SearcBar */
.blogsContentWrapper {
  width: 100%;
  max-width: 71em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.searchBar {
  display: flex;
  align-items: center;
  width: 500px; /* Set the desired width of the search bar */
  position: relative;
}
.searchInput {
  padding: 15px 40px 15px 20px; /* Adjust padding to make room for the icon */
  border-radius: 4px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 1px 30px 50px 25px rgba(225, 173, 157, 0.2);
  width: 100%;
  font-family: 'Gilroy';
}
.searchInput::placeholder {
  color: #999;
}
.searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* BlogCard */
.blogCards {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .blogsContainer {
    margin-top: 2em;
  }
  .backgroundimage {
    height: auto;
  }
  .blogsContent {
    margin-top: 6em !important;
    margin-bottom: 2em !important;
  }
  .searchBar {
    width: 80%;
  }
  .blogsContentWrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .blogsContainer {
    margin-top: 1em;
  }
  .blogsContent h1 {
    font-size: 2em;
  }
  .blogsContent h3 {
    font-size: 18px;
  }
}
