/* SearchBar */
.searchBar {
  display: flex;
  align-items: center;
  width: 500px; /* Set the desired width of the search bar */
  position: relative;
  margin-bottom: 5em;
}

.searchInput {
  padding: 15px 40px 15px 20px; /* Adjust padding to make room for the icon */
  border-radius: 4px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 1px 30px 50px 25px rgba(225, 173, 157, 0.2);
  width: 100%;
  font-family: 'Gilroy';
  font-size: 16px;
}
.searchInput::placeholder {
  color: #999;
}
.searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.blogCards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.blogCard {
  border-radius: 40px;
  background-color: #dcaa9b;
  transform: scale(1);
  transition: all 0.5s ease;
  width: 32%;
}
.blogCard:hover {
  transform: scale(1.08);
  transition: all 0.5s ease;
  box-shadow: 0 10px 20px rgba(225, 173, 157, 0.6);
}
.blogCardImage {
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
}
.blogCardImage img {
  width: 100%;
  height: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.blogCardContent {
  padding: 20px;
}
.blogCardContent h1 {
  font-size: 24px;
  font-family: 'Gilroy';
  color: #ffff;
}
.blogCardContent p {
  font-size: 16px;
  font-family: 'Gilroy';
  color: #ffff;
  margin-top: 1em;
}
@media screen and (max-width: 1031px) {
  .blogCards {
    gap: 15px;
  }
}

@media screen and (max-width: 781px) {
  .blogCards {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .searchBar {
    width: 80%;
  }
  .blogCards {
    flex-wrap: wrap;
    width: 98%;
  }
  .blogCard {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 30px) !important;
    margin: 15px;
  }
}
@media screen and (max-width: 550px) {
  .blogCard {
    margin: 15px;
  }
}

@media screen and (max-width: 425px) {
  .searchBar {
    width: 95% !important;
    margin-bottom: 3em;
  }
  .blogCardContent {
    padding: 15px;
  }
  .blogCardContent h1 {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 550px) {
  .blogCard {
    margin: 15px;
  }
}

/* blogs */
.blogsContainer {
  width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backgroundImage {
  background-image: url('/assets/images/blogCover.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.blogsWrapper {
  width: 100%;
  max-width: 71em;
  margin: 0 1em;
}
.blogsContent {
  margin-top: 10em;
}
.blogsContent h1 {
  color: #fff;
  font-size: 52px;
  font-family: 'Gilroy';
}
.blogsContent h3 {
  margin-top: 1em;
  font-size: 20px;
  font-family: 'Poppins';
}
.blogsContent h3 a {
  text-decoration: none;
  color: #fff;
}
.blogsContent h3 span a {
  color: #000;
}

/* SearcBar */
.blogsContentWrapper {
  width: 100%;
  max-width: 71em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.searchBar {
  display: flex;
  align-items: center;
  width: 500px; /* Set the desired width of the search bar */
  position: relative;
}

.searchInput {
  padding: 15px 40px 15px 20px; /* Adjust padding to make room for the icon */
  border-radius: 4px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 1px 30px 50px 25px rgba(225, 173, 157, 0.2);
  width: 100%;
  font-family: 'Gilroy';
  font-size: 16px;
}
.searchInput::placeholder {
  color: #999;
}
.searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* BlogCard */
.blogCards {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .blogsContainer {
    margin-top: 2em;
  }
  .backgroundImage {
    height: auto;
  }
  .blogsContent {
    margin-top: 6em !important;
    margin-bottom: 2em !important;
  }
  .searchBar {
    width: 80%;
  }
  .blogsContentWrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .blogsContainer {
    margin-top: 1em;
  }
  .blogsContent h1 {
    font-size: 2em;
  }
  .blogsContent h3 {
    font-size: 18px;
  }
}
