/* .button {
  background-color: #000;
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  height: 40px;
  font-family: 'Gilroy';
  font-size: 16px;
  border: 1px solid #000;
  margin: 20px 0;
  cursor: pointer;
} */
/* .styleButton {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: 'Gilroy';
  font-size: 16px;
  border-radius: 40px;
  color: #000;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0px 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 30px 50px 25px rgba(225, 173, 157, 0.2);
} */
