.footerTop {
  display: flex;
  width: 100%;
  /* margin-top: 4em; */
}
.footerTopLeft {
  width: 50%;
  background-color: #e1ad9d;
  padding: 40px 80px;
  display: flex;
  justify-content: center;
}
.footerTopLeftContent {
  display: flex;
  flex-direction: column;
  width: 35.5em;
}
.footerTopLeftContentpara {
  color: #fff;
  font-family: 'Poppins';
  font-size: 16px;
  margin-top: 2em;
}
.footerTopLeftLogo {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
.footerTopLeftContact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 4em;
}
.footerTopLeftContactphone {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footerTopLeftContactphone p {
  color: #fff;
  font-family: 'Poppins';
  font-size: 16px;
}
.footerTopRight {
  width: 50%;
}
.footerContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80px;
  /* margin-top: 2em; */
}
.footerWrapper {
  width: 100%;
  max-width: 71em;
  display: flex;
  align-items: center;
  margin: 0 1em;
}
.footerLeft {
  width: 35.5em;
  justify-content: center;
  align-items: center;
}
.footerNavLinks {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footerNavLinks li {
  list-style: none;
  cursor: pointer;
}
.footerRight {
  width: 35.5em;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
.footerRight p {
  color: #000;
  font-size: 16px;
  font-family: 'Gilroy';
  text-align: center;
}
.footerRight p span {
  color: #e1ad9d;
}

@media screen and (max-width: 1100px) {
  .footerTopLeft{
    padding: 40px;
  }
}