.headerContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.wrapper {
  width: 100%;
  /* max-width: 1120px; */
  max-width: 71em;
  margin: 0 1em;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.headerLogo {
  /* width: 20%; */
}
.headerLogo img {
  width: 100%;
}
.headerNavbar {
  display: flex;
  gap: 30px;
  width: 50%;
  justify-content: flex-end;
  font-weight: 600;
  cursor: pointer;
}
.headerNavbar a {
  text-decoration: none;
}
.headerNavbarLink {
  list-style: none;
  font-size: 16px;
  font-family: 'Gilroy';
  color: #707070;
}
.active {
  color: #e1ad9d;
}
.headerButton {
  width: 17%;
}
.headerButton a {
  text-decoration: none;
}
