.bodyServiceContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bodyServiceWrapper {
  width: 100%;
  /* max-width: 80%; */
  max-width: 71em;
  /* margin: 0 1em; */
}
.bodyServiceContent {
  /* margin-top: 12em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1em 0 1em;
}
.modalBodyServiceContent {
  margin: 0em 1em 0 1em;
}
.bodyServiceContentLeft {
  /* width: 50%; */
  width: 20em;
  display: flex;
  gap: 40px;
}
.bodyServicecheckboxes {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bodyServiceColumn {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.bodyServicelabels {
  /* font-size: 16px; */
  font-size: 28px;
  font-family: 'Gilroy';
  color: #dcaa9b;
  gap: 10px;
  display: flex;
}
.bodyServiceButtons {
  width: 12em;
}
.bodyServicelabels input {
  cursor: pointer;
}
.bodyServiceContentRight {
  /* width: 50%; */
  width: 51em;
}
.bodyServiceContentRightHeading h1 {
  font-size: 52px;
  font-weight: 700;
  font-family: 'Gilroy';
  letter-spacing: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.bodyServiceContentRightHeading h3 {
  font-size: 28px;
  color: #000;
  font-family: 'Gilroy';
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.bodyServiceContentRightHeading p {
  font-size: 18px;
  font-family: 'Poppins';
  color: #a2a2a2;
}

/* Recipt */
.bodyServiceContentRightTable {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 10px;
}
.bodyServiceContentRightTableRow {
  display: flex;
  background-color: rgb(162, 162, 162, 0.1);
  padding: 10px 45px;
  border-radius: 20px;
}
.bodyServiceContentRightTableService {
  width: 70%;
}
.bodyServiceContentRightTableServiceDetail {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.bodyServiceContentRightTableDescription p {
  color: #000000;
  font-family: 'Gilroy';
  font-size: 18px;
}
.bodyServiceContentRightTableDescriptionLine {
  color: #d5d5d5;
  font-size: 20;
  font-family: 'Gilroy';
}
.bodyServiceContentRightcalc {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.bodyServiceContentRightcalcRow {
  display: flex;
  border-bottom: 1px solid #d5d5d5;
  padding: 15px 45px;
}
.bodyServiceContentRightcalcDetail {
  width: 70%;
}
.bodyServiceContentRightcalcPrices {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.bodyServiceContentRightcalcDetailService p {
  color: #000000;
  font-family: 'Gilroy';
  font-size: 18px;
}
.bodyServiceContentRightcalcDetailServicePrice {
  font-size: 18px;
  font-family: 'Gilroy';
}
.bodyServiceContentRightTotal {
  margin-top: 1em;
}
.progressbarContainer {
  justify-content: center;
  display: flex;
  margin-top: 6em;
}
.progressbarSection {
  width: 100%;
  margin: 0 1em;
}
/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.modalContent {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1100px) {
  .bodyServiceContentRightHeading h1 {
    font-size: 2.5em;
  }
  .bodyServiceButtons {
    width: 11em;
  }
  /* .bodyServiceContent {
    margin: 8em 1em 0em 1em;
  } */
}
@media screen and (max-width: 425px) {
  .bodyServiceColumn {
    gap: 10px;
    margin-bottom: 20px;
  }
  .bodyServiceButtons {
    width: 11em;
  }
  .bodyServiceContentRightHeading h1 {
    font-size: 1.5em;
  }
  .bodyServicelabels {
    font-size: 14px;
  }
  .bodyServiceContentRightHeading h3 {
    font-size: 20px;
  }
  .bodyServiceContentRightHeading p {
    font-size: 14px;
  }
  .bodyServiceContentRightTableRow {
    padding: 10px 30px !important;
  }
  .bodyServiceContentRightTableServiceDetail {
    width: 40%;
  }
  .bodyServiceContentRightcalcRow {
    padding: 10px 30px;
  }
  .bodyServiceContentRightcalcPrices {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .bodyServiceColumn {
    margin-bottom: 5px;
  }
  .bodyServiceContent {
    flex-direction: column !important;
  }
  .bodyServicecheckboxes {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-gap: 20px; /* Add some space between the columns */
  }
  .bodyServiceContentLeft {
    width: 100% !important;
    overflow-x: scroll;
  }
  .bodyServicelabels {
    font-size: 16px;
    gap: 5px;
    display: flex;
    align-items: center;
    width: 160px;
  }
  .bodyServiceContentRight {
    width: 100% !important;
    margin-top: 1em;
  }
  .progressbarContainer {
    margin: 3em 1em 0 1em !important;
  }
  .bodyServiceContentRightTableDescription p {
    font-size: 16px;
  }
  .bodyServiceContentRightTableDescription p {
    font-size: 14px;
  }
  .bodyServiceContentRightcalcDetailService p {
    font-size: 16px;
  }
  .bodyServiceContentRightcalcDetailServicePrice p {
    font-size: 16px !important;
    font-family: 'Gilroy';
  }
}
