.bodyServiceContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bodyServiceWrapper {
  width: 100%;
  max-width: 80%;
}
.bodyServiceContent {
  margin-top: 15em;
  display: flex;
  justify-content: space-between;
}
.bodyServiceContentLeft {
  width: 50%;
  display: flex;
  gap: 40px;
}
.bodyServicecheckboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bodyServicelabels {
  font-size: 16px;
  font-family: 'Gilroy';
  color: #dcaa9b;
  gap: 5px;
  display: flex;
}
.bodyServiceContentRight {
  width: 50%;
}
.bodyServiceContentRightHeading h1 {
  font-size: 52px;
  font-weight: 700;
  font-family: 'Gilroy';
  letter-spacing: 1px;
}
.bodyServiceContentRightHeading h3 {
  font-size: 28px;
  color: #000;
  font-family: 'Gilroy';
  margin-top: 2em;
}
.bodyServiceContentRightHeading p {
  margin-top: 1em;
  font-size: 16;
  font-family: 'Poppins';
  color: #a2a2a2;
  width: 75%;
}

/* Recipt */
.bodyServiceContentRightTable {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 10px;
}
.bodyServiceContentRightTableRow {
  display: flex;
  background-color: rgb(162, 162, 162, 0.1);
  padding: 15px 45px;
  border-radius: 20px;
}
.bodyServiceContentRightTableService {
  width: 70%;
}
.bodyServiceContentRightTableServiceDetail {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.bodyServiceContentRightTableDescription p {
  color: #000000;
  font-family: 'Gilroy';
  font-size: 18px;
}
.bodyServiceContentRightTableDescriptionLine {
  color: #d5d5d5;
  /* font-weight: bold; */
  font-size: 20;
  font-family: 'Gilroy';
}
.bodyServiceContentRightcalc {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.bodyServiceContentRightcalcRow {
  display: flex;
  border-bottom: 1px solid #d5d5d5;
  padding: 15px 45px;
}
.bodyServiceContentRightcalcDetail {
  width: 70%;
}
.bodyServiceContentRightcalcPrices {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.bodyServiceContentRightcalcDetailService {
  color: #000000;
  font-family: 'Gilroy';
  font-size: 18px;
}
.bodyServiceContentRightTotal {
  margin-top: 2em;
}
