.discountToggleContainer {
  width: 100%;
  display: flex;
  margin-top: 6em;
}
.discountToggleWrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.discountToggles {
  width: 70%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 1px 30px 50px 25px rgba(225, 173, 157, 0.2);
}
.discountTogglesCenterLine {
  font-size: 20px;
  color: #a2a2a2;
  font-weight: bold;
}
.discountToggleLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}
.discountToggleLeftText {
  font-size: 16px;
  font-family: 'Gilroy';
  color: #a2a2a2;
}
.bookNow {
  width: 25%;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color for the overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Make sure the modal overlay is above other content */
}

/* Styles for the modal content */
.modalContent {
  background-color: #fff; /* White background for the modal */
  padding: 20px;
  max-width: 400px; /* Set the maximum width of the modal */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow to the modal */
}
