.authForm {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: min(450px, 90%);
  background-image: linear-gradient(to bottom, #ffe4dc, #e1ad9d);
  border-radius: 10%;
  padding: 30px;
}
.authFormHeading {
  display: flex;
  justify-content: space-between;
}
.authFormHeading img {
  cursor: pointer;
}
.authFormHeading {
  font-size: 18px;
  font-family: 'Gilroy';
}
.authFormInputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.authFormInputs input {
  border: none;
  height: 45px;
  border-radius: 35px;
  padding-left: 15px;
}
.authFormInputs input:focus {
  outline: none;
}
.authFormSignup {
  display: flex;
  justify-content: space-between;
}
.authFormForgot {
  justify-content: flex-end;
  text-align: right;
  margin-top: 20px;
}
.authFormForgot p {
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 700;
  cursor: pointer;
}
.authFormText p {
  text-align: center;
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 300;
}
.authFormIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.authFormIcons img {
  cursor: pointer;
}
.authFormSignupText p {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 700;
}
.authFormSignupText p span {
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
}
.authFormSignupText p {
  color: #000;
}

@media screen and (max-width: 480px) {
  .authForm {
    width: min(395px, 90%);
  }
  .authFormSignup {
    flex-direction: column;
    gap: 10px;
  }
}
